body
{
    background-color:#ddd8d8;
    margin:0;
}
header{
    display:flex;
    border:20px solid lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;

}
.hea{
     text-align: center;
    display: flex;
   margin-left:59%;
    
}
header img {
width:90px;
    height: 90px;

}
.menu{
        margin-right:2%;
        margin-left:2%;
    border: 10px solid lightcoral;
    background-color: lightcoral;
    padding: 1px;
    display:flex ;

    justify-content: space-around;
}
.menu a{
        color: white;
  text-decoration: none;
    }
.onas{
    display: flex;
    padding: 1%;
    font-family: serif;
    font-size: 24px;
    flex-wrap: wrap;
}
.onas img{
    padding: 1%;
    width: 620px;
    height: 400px;
}
